body {
    background-color: #C6E2FF;
}
figcaption{
    font-size: 11px;
}
#webpagetitle{
    text-align: center;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: lightgoldenrodyellow;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/01/01/06/wall-2702793__480.jpg");    
}
p {
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    
}
h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    padding-top: 20px;
}
.summary{
    font-style: italic;
    text-align:center;
}
